{% extends "questions/base.html" %}
{% load static %}

{% block title %} Not Found!{% endblock %}


{% block main-content %}

    <div class="col-md-9 mr-auto">

        <div class="col-9 mt-4 mb-2">
            <h1> {% block err_title %} 404 {% endblock %} </h1>
            <h1> All work and no play makes Jack a dull boy </h1>
            <h1> All work and no play makes Jack a dull boy </h1>
            <h1> All work and no play makes Jack a dull boy </h1>
            <h1> All work and no play makes Jack a dull boy </h1>
            <h1> All work and no play makes Jack a dull boy </h1>
        </div>

    </div>


{% endblock %}
