{% extends "questions/base.html" %}
{% load static %}

{% block title %}Ask{% endblock %}


{% block main-content %}

<div class="col-md-9 mr-auto">

    <div class="row mt-4">

        <div class="col-md-9 mr-auto">


            <div class="row">

                <div class="col-xl-9  pr-4 ">
                    <strong class="my_head mt-4 mb-4" style="font-family: Roboto, sans-serif"> New
                        Question </strong>

                    <div class="row mt-2">
                        <div class="col-1">
                            <label class="mr-5" for="title">Title</label>
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" id="title"
                                   placeholder="How to understand algebra?">
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col-1">
                            <label for="text">Text</label>
                        </div>
                        <div class="col">
                                <textarea class="form-control" rows="15" id="text"
                                          placeholder=" Really, how? Have no idea about it. "></textarea>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col-1">
                            <label class="mr-5" for="tags">Tags</label>
                        </div>
                        <div class="col">
                            <input type="tags" class="form-control" id="tags"
                                   placeholder="linear-algebra matrices permutations">

                            <button class="btn btn-success my-3">Ask!</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

{% endblock %}
