{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block links %}
    {% endblock %}


    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Icons CSS -->
    <link rel="stylesheet" href="{% static 'css/icons/css/all.css' %}">

    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">


    <title>tAskMe: {% block title %}Base{% endblock %}</title>
</head>
<body>

<nav class="navbar navbar-expand-md fixed-top navbar-light bg-primary">
    <a class="navbar-brand text-white float-right" href="{% url 'index' %}"><strong>tAskme</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">

        <form class="form-inline mt-2 mt-md-0 ">


            <div class="input-group mr-sm-2">

                <input type="text" class="form-control rounded-left" id="SearchLine" placeholder="Search">
                <div class="input-group-prepend">
                    <button class="btn btn-primary border-left-0 btn-outline-light rounded-right"><i
                            class="fas fa-search fa-lg"></i>
                    </button>
                </div>
            </div>

        </form>

        <a href="{% url 'ask' %}">
            <button class="btn btn-success ml-3 btn-outline-light ">
                Ask!
            </button>
        </a>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link HeaderMenu-link text-white" href="{% url 'login' %}">Sign in</a>
            </li>
            <li class="nav-item">
                <a class="nav-link border rounded text-white" href="{% url 'signup' %}">Sign up</a>
            </li>
        </ul>

    </div>
</nav>


<div class="container-fluid">


    <div class="row mt-5 ml-2">

        {% block main-content %}{% endblock %}


        <div class="col-md-3 mt-5">
            <div class="">
                <h3>Tags</h3>
                <a href="#" class="text-primary">linear-algebra </a>
                <a href="#" class="text-primary">matrices </a>
                <a href="#" class="text-primary">permutations</a>
                <a href="#" class="text-primary">combinatorics</a>
                <a href="#" class="text-primary">calculus</a>
                <a href="#" class="text-primary">real-analysis</a>
                <a href="#" class="text-primary">integration</a>

            </div>
            <div class="mt-2">
                <h3>Users</h3>
                <a href="#">Danil</a><br>
                <a href="#">Anton</a><br>
                <a href="#">Mi Sa</a><br>
            </div>
        </div>
    </div>
</div>


<script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"

        crossorigin="anonymous"></script>
<script src="{% static 'js/popper.min.js' %}"

        crossorigin="anonymous"></script>
<script src="{% static 'css/bootstrap.min.css' %}"

        crossorigin="anonymous"></script>
</body>
</html>