{% extends "questions/card.html" %}
{% load static %}



{% block bottom %}

    <div class="row align-items-center mt-3">
        <div class="col">
            <div class="row">
                <div class="col-auto">
                    <p class="text-dark">Tags:</p>
                </div>
                <div class="col">
                    {% for tag in question.tags.all %}
                        <a href=#{% comment %}{% url "base" tag.text %}{% endcomment %}> {{ tag.text }}</a>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
{% endblock %}

