{% extends "questions/base.html" %}
{% load static %}

{% block title %}Log in{% endblock %}


{% block main-content %}

<div class="col-md-9 mr-auto">

    <div class="row mt-4">

        <div class="col-md-9 mr-auto">

            <div class="row">
                <strong class="my_head mt-3 mb-4 mx-4 " style="font-family: Roboto, sans-serif">Log In</strong>
            </div>
            <div class="row">
                <span class="text-danger mx-4"> Wrong login or password! </span>
            </div>


            <div class="row">
                <div class="container-fluid mx-2 mb-3 mt-3">
                    <div class="row">
                        <div class="col-3">
                            <p>Login</p>
                        </div>
                        <div class="col-lg-4">
                            <input type="text" class="form-control" placeholder="Your login">
                        </div>
                    </div>
                </div>

                <div class="container-fluid mx-2">
                    <div class="row">
                        <div class="col-3">
                            <p>Password</p>
                        </div>
                        <div class="col-lg-4">

                            <input type="password" class="form-control" placeholder="Your password">
                            <div class="">
                                <button class="btn btn-success mb-3 mt-3">Log In</button>
                            </div>
                            <div class="ml-auto">
                                <a href="#" class="card-link my-3 ">Create account</a>
                            </div>

                        </div>
                        <div class="col-5">

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
