{% extends "questions/base.html" %}
{% load static %}

{% block title %}Question{% endblock %}

{% block main-content %}
    <div class="col-md-9 mr-auto">

        <div class="row mt-3">

            <div class="col-md-9 mr-auto">


                <div class="row mb-2 mt-4">
                    <div class="col">
                        <div class="card-body d-flex flex-column align-items-start">
                            <div class="row ">
                                <div class="col-auto mt-2 mr-2 ">
                                    <div>
                                        <img src="https://pp.userapi.com/c824200/v824200316/1a3b8c/dILSGW_fIyk.jpg"
                                             width="100"
                                             height="100" style="object-fit: cover">
                                    </div>

                                    <div class="mt-2">
                                        <input value="12345" style="width: 100px; text-align: center;">
                                    </div>

                                    <div class="btn-group btn-group-toggle rounded align-self-center mt-1"
                                         data-toggle="buttons">


                                        <label class="btn btn-primary">
                                            <input type="radio" name="options" id="option1" autocomplete="off">
                                            +
                                        </label>
                                        <label class="btn btn-primary">
                                            <input type="radio" name="options" id="option2" autocomplete="off"> -
                                        </label>
                                    </div>
                                </div>
                                <div class="col ml-2 mt-3">
                                    <h3 class="mb-0">
                                        <a class="text-primary" href="#">Number of five digit numbers that can be
                                            formed
                                            with this
                                            condition</a>
                                    </h3>
                                    <p class="card-text mb-auto mt-2">How many five digit numbers can be made having
                                        the
                                        digits
                                        1,2,3 each of which can be used at most thrice in a number?</p>

                                    <div class="row align-items-center mt-3">
                                        <div class="col">
                                            <div class="row">
                                                <div class="col-auto">
                                                    <p class="text-dark">Tags:</p>
                                                </div>
                                                <div class="col">
                                                    <a href="#" class="text-primary">linear-algebra </a>
                                                    <a href="#" class="text-primary">matrices </a>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>

                    </div>
                </div>


                <div class="row mb-2">
                    <div class="col border-bottom border-top border-dark">

                        <div class="row mb-2 mt-4">
                            <div class="col">
                                <div class="card flex-md-row mb-4 box-shadow">
                                    <div class="card-body d-flex flex-column align-items-start">
                                        <div class="row ">
                                            <div class="col-auto mt-2 mr-2 ">
                                                <div>
                                                    <img src="https://pp.userapi.com/c627131/v627131210/1ead1/D1Ixiikm9Kw.jpg"
                                                         width="100" height="100" style="object-fit: cover">
                                                </div>

                                                <div class="mt-2">
                                                    <input value="12345" style="width: 100px; text-align: center;">
                                                </div>

                                                <div class="btn-group btn-group-toggle rounded align-self-center mt-1"
                                                     data-toggle="buttons">


                                                    <label class="btn btn-primary">
                                                        <input type="radio" name="options" id="option1"
                                                               autocomplete="off">
                                                        +
                                                    </label>
                                                    <label class="btn btn-primary">
                                                        <input type="radio" name="options" id="option2"
                                                               autocomplete="off">
                                                        -
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col ml-2">

                                                <p class="card-text mb-auto mt-2">

                                                    Unfortunately, you're making distinctions where there aren't
                                                    any--for
                                                    example,
                                                    one digit 1 is the same as any other, though it may have a
                                                    different
                                                    meaning
                                                    once we choose a place for it.

                                                    The first thing I notice about this problem is that, if I want
                                                    to
                                                    directly
                                                    count
                                                    the desired numbers, there will be several cases and subcases.
                                                    We could
                                                    start
                                                    with the case of no 1s (with subcases two 2s and three 2s), then
                                                    the
                                                    case of
                                                    a
                                                    single 1 (with subcases one 2, two 2s, and three 2s), and so on.
                                                    That
                                                    seems
                                                    like
                                                    a pain, though.
                                                </p>
                                                <div class="row align-items-center mt-3">
                                                    <div class="col">
                                                        <form>
                                                            <div class="custom-control custom-checkbox">
                                                                <input type="checkbox" class="custom-control-input"
                                                                       id="correctCheck" name="example1">
                                                                <label class="custom-control-label"
                                                                       for="correctCheck">Correct</label>
                                                            </div>
                                                        </form>

                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>


                        <div class="row mb-2">
                            <div class="col">
                                <div class="card flex-md-row mb-4 box-shadow">
                                    <div class="card-body d-flex flex-column align-items-start">
                                        <div class="row ">
                                            <div class="col-auto mt-2 mr-2 ">
                                                <div>
                                                    <img src="https://pp.userapi.com/c627131/v627131210/1ead1/D1Ixiikm9Kw.jpg"
                                                         width="100" height="100" style="object-fit: cover">
                                                </div>

                                                <div class="mt-2">
                                                    <input value="12345" style="width: 100px; text-align: center;">
                                                </div>

                                                <div class="btn-group btn-group-toggle rounded align-self-center mt-1"
                                                     data-toggle="buttons">


                                                    <label class="btn btn-primary">
                                                        <input type="radio" name="options" id="option1"
                                                               autocomplete="off">
                                                        +
                                                    </label>
                                                    <label class="btn btn-primary">
                                                        <input type="radio" name="options" id="option2"
                                                               autocomplete="off">
                                                        -
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col ml-2">

                                                <p class="card-text mb-auto mt-2">

                                                    Unfortunately, you're making distinctions where there aren't
                                                    any--for
                                                    example,
                                                    one digit 1 is the same as any other, though it may have a
                                                    different
                                                    meaning
                                                    once we choose a place for it.

                                                    The first thing I notice about this problem is that, if I want
                                                    to
                                                    directly
                                                    count
                                                    the desired numbers, there will be several cases and subcases.
                                                    We could
                                                    start
                                                    with the case of no 1s (with subcases two 2s and three 2s), then
                                                    the
                                                    case of
                                                    a
                                                    single 1 (with subcases one 2, two 2s, and three 2s), and so on.
                                                    That
                                                    seems
                                                    like
                                                    a pain, though.
                                                </p>
                                                <div class="row align-items-center mt-3">
                                                    <div class="col">
                                                        <form>
                                                            <div class="custom-control custom-checkbox">
                                                                <input type="checkbox" class="custom-control-input"
                                                                       id="correctCheck" name="example1">
                                                                <label class="custom-control-label"
                                                                       for="correctCheck">Correct</label>
                                                            </div>
                                                        </form>

                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>


                    </div>
                </div>


                <div class="mt-3 mb-4" id="yourAnswer">
                        <textarea class="form-control" rows="5" id="text"
                                  placeholder="Enter your answer here"></textarea>
                    <button class="btn btn-success my-3 ">Answer</button>
                </div>

            </div>
        </div>

    </div>
{% endblock %}