{% extends "questions/base.html" %}
{% load static %}

{% block title %}Settings{% endblock %}


{#<nav class="navbar navbar-expand-md fixed-top navbar-light bg-primary">#}
{#    <a class="navbar-brand text-white float-right" href="#"><strong>tAskme</strong></a>#}
{#    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"#}
{#            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">#}
{#        <span class="navbar-toggler-icon"></span>#}
{#    </button>#}
{#    <div class="collapse navbar-collapse" id="navbarCollapse">#}
{##}
{#        <form class="form-inline mt-2 mt-md-0 ">#}
{##}
{##}
{#            <div class="input-group mr-sm-2">#}
{##}
{#                <input type="text" class="form-control rounded-left" id="SearchLine" placeholder="Search">#}
{#                <div class="input-group-prepend">#}
{#                    <button class="btn btn-primary border-left-0 btn-outline-light rounded-right"><i#}
{#                            class="fas fa-search fa-lg"></i>#}
{#                    </button>#}
{#                </div>#}
{#            </div>#}
{##}
{#        </form>#}
{##}
{#        <button class="btn btn-success ml-3 btn-outline-light ">Ask!#}
{#        </button>#}
{##}
{#        <ul class="navbar-nav ml-auto">#}
{##}
{##}
{#            <li class="nav-item">#}
{#                <a class="nav-link HeaderMenu-link text-white" href="#">Sign in</a>#}
{#            </li>#}
{#            <li class="nav-item">#}
{#                <a class="nav-link border rounded text-white" href="#">Sign up</a>#}
{#            </li>#}
{##}
{##}
{##}
{#            <li class="px-2">#}
{#                <div class="avatar-thumbnail" >#}
{#                    <img src="https://pp.userapi.com/c824200/v824200316/1a3b8c/dILSGW_fIyk.jpg" width="50" height="50">#}
{#                </div>#}
{#            </li>#}
{#            <li class="px-2">#}
{#                <div class="text-white ml-3" style="display: block;" >Danya</div>#}
{#                <a class="text-white" href="#">settings</a>#}
{#                <a class="text-white" href="#">logout</a>#}
{#            </li>#}
{##}
{##}
{#        </ul>#}
{##}
{#    </div>#}
{#</nav>#}

{% block main-content %}

<div class="col-md-9 mr-auto">

    <div class="row mt-4">

        <div class="col-md-9 mr-auto">

            <div class="row">
                <strong class="my_head mt-3 mb-4 mx-4 "
                        style="font-family: Roboto, sans-serif">Settings: Danil</strong>
            </div>
            <div class="container-fluid mb-3 mx-2">
                <div class="row">
                    <div class="col-3">
                        <p>Email</p>
                    </div>
                    <div class="col-lg-4 ">
                        <input type="text" class="form-control" placeholder="bestgocoder@bmstu.ru">
                    </div>
                </div>
            </div>

            <div class="container-fluid mb-3 mx-2">
                <div class="row">
                    <div class="col-3">
                        <p>Name</p>
                    </div>
                    <div class="col-lg-4 ">
                        <input type="text" class="form-control" placeholder="Danil">
                    </div>
                </div>
            </div>

            <div class="container-fluid mb-3 mx-2">
                <div class="row">
                    <div class="col-3">
                        <p>Login</p>
                    </div>
                    <div class="col-lg-4 ">
                        <input type="text" class="form-control" placeholder="gdv_fox">
                    </div>
                </div>
            </div>

            <div class="container-fluid mb-3 mx-2">
                <div class="row">
                    <div class="col-3">
                        <p>Upload photo</p>
                    </div>
                    <div class="col-lg-4 ">
                        <div class="avatar-thumbnail mb-3">
                            <img src="https://pp.userapi.com/c824200/v824200316/1a3b8c/dILSGW_fIyk.jpg"
                                 width="100" height="100" style="object-fit: cover">
                        </div>
                        <form>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="customFile">
                                <label class="custom-file-label" for="customFile">Choose file</label>
                            </div>
                        </form>

                        <button class="btn btn-success my-3">Save</button>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}