{% extends "questions/base.html" %}
{% load static %}

{% block title %}Sign up{% endblock %}


{% block main-content %}

    <div class="col-md-9 mr-auto">

        <div class="row mt-4">

            <div class="col-md-9 mr-auto">

                <div class="row">
                    <strong class="my_head mt-3 mb-4 mx-4 "
                            style="font-family: Roboto, sans-serif">Registration</strong>
                </div>
                <div class="row">
                    <span class="text-danger mx-4"> This name already used! </span>
                </div>


                <div class="row">
                    <div class="container-fluid mx-2 mb-3 mt-3">

                        <div class="row">
                            <div class="col-3">
                                <p>Name</p>
                            </div>
                            <div class="col-lg-4">
                                <input type="text" class="form-control" placeholder="Igor Potapovi4 Ivanov">
                            </div>
                        </div>
                    </div>

                    <div class="container-fluid mb-3 mx-2">
                        <div class="row">
                            <div class="col-3">
                                <p>Email</p>
                            </div>
                            <div class="col-lg-4 ">
                                <input type="text" class="form-control" placeholder="ivanov@bmstu.ru">
                            </div>
                        </div>
                    </div>

                    <div class="container-fluid mb-3 mx-2">
                        <div class="row">
                            <div class="col-3">
                                <p>Login</p>
                            </div>
                            <div class="col-lg-4">
                                <input type="text" class="form-control" placeholder="gucci_maine">
                            </div>
                        </div>
                    </div>

                    <div class="container-fluid mb-3 mx-2">
                        <div class="row">
                            <div class="col-3">
                                <p>Password</p>
                            </div>
                            <div class="col-lg-4">
                                <input type="password" class="form-control" placeholder="Your Password">
                            </div>
                        </div>
                    </div>

                    <div class="container-fluid mb-3 mx-2">
                        <div class="row">
                            <div class="col-3">
                                <p>Repeat password</p>
                            </div>
                            <div class="col-lg-4">
                                <input type="password" class="form-control" placeholder="Your Password">
                            </div>
                        </div>
                    </div>

                    <div class="container-fluid mb-3 mx-2">
                        <div class="row">
                            <div class="col-3">
                                <p>Upload photo</p>
                            </div>
                            <div class="col-lg-4 ">
                                <form>
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="customFile">
                                        <label class="custom-file-label" for="customFile">Choose
                                            file</label>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>

                    <div class="row mx-3">
                        <button class="btn btn-success my-3 mx-2 mt-3">Register</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}