@import url(http://fonts.googleapis.com/css?family=K2D:400,300,700);

.my_head {
  font-family: Roboto, sans-serif;
  font-size: 2.25rem;
}

.sidebar {

}

.navbar-brand {
    font-family: K2D, Roboto, sans-serif;
    font-weight: 900;
}
